<div class="notification-container" *ngIf="showNotification">
  <div class="notification-card">
    <div class="loader"></div>

    <div class="notification-content device-info">
      <h4>Device Alert</h4>
      
      <div class="device-details">
        <div class="device-name">iPhone 15 Pro</div>
        <div class="device-features">
          Latest Apple iPhone with advanced camera and GPS features
        </div>
      </div>

      <div class="device-location">
        <strong>Last seen at:</strong> <br>
        Lat: -1.2107841973497981, Lng: 36.91739866458175
      </div>

      <p class="request-help">
        Request for help to find it
      </p>

      <button href="#" class="button" style="--clr: #7808d0">
        <span class="button__icon-wrapper">
          <svg
            viewBox="0 0 14 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="button__icon-svg"
            width="10"
          >
            <path
              d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              fill="currentColor"
            ></path>
          </svg>
      
          <svg
            viewBox="0 0 14 15"
            fill="none"
            width="10"
            xmlns="http://www.w3.org/2000/svg"
            class="button__icon-svg button__icon-svg--copy"
          >
            <path
              d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
       I UNDERSTAND
      </button>
    </div>
  </div>
</div>


<div *ngIf="!showTrackSection" class="dashboard-container">

  <div class="stat-card">
    <div class="stat-content">
      <span class="stat-title">
        <strong>I-TRACK</strong> lets you track devices in real-time.<br>
        <em>Active Devices</em>
      </span>
    </div>

    <a (click)="goToDevices()">
      <img [src]="sharePic" class="stat-icon">
    </a>

    <span class="stat-value">{{ numberOfDevices }}</span>
  </div>

  <div class="stat-card">
    <div class="stat-content">
      <span class="stat-title">
        <strong>NEW!</strong> Track another device using a PIN.<br>
        <em>Advanced Features</em>
      </span>
    </div>

    <a (click)="openAdvancedTracking()">
      <img [src]="sharePic" class="stat-icon">
    </a>
  </div>

</div>


<div *ngIf="showTrackSection" class="track-section">
  <h2 id="title">Track By PIN</h2>

  <div class="otp-input-container">
    <ng-otp-input
    [config]="otpConfig"
    (onInputChange)="onOtpChange($event)" class="otp-input">
    
  </ng-otp-input>

  <button class="validate" (click)="onEnterPin()">
    Validate
  </button>
  </div>


  <div class="trackingDevicesContainer" *ngIf="trackingDevices.length > 0">
    <h2 class="liveDevices">Live Location</h2>
  
    <div class="tracked-user">
      <ng-container *ngIf="userLatestLocation; else noLocation">
        <div class="user-header">
          <span class="username">{{ trackingDevices[0].User.userName }}</span>
        </div>
        <div class="location-row">
          <div class="location-icon-container">
            <img [src]="locationPic" class="locationPic" alt="Live">
            <span class="location-text">
              Lat: {{ userLatestLocation.latitude }}, Lon: {{ userLatestLocation.longitude }}
            </span>
          </div>
        </div>
        
      </ng-container>
  
      <ng-template #noLocation >
        <p class="no-location">
          {{ trackingDevices[0].User.userName }} has no location available
        </p>
      </ng-template>
    </div>
  </div>
  
  
