

#map {
    height: 60vh;  
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }
.blinking-marker path {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

  
  #map {
    height: 60vh;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }
  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #a39519;
    text-align: center;
    margin: 1px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }
  h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    color: #e0d1d1;
    margin: 20px 5% 10px 5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
  }
  h3{
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    align-self: center;
  }
  
  .all-devices {
    display: flex;  
    margin-top: 20px;               
    flex-wrap: nowrap;              
    gap: 20px;
    padding: 3px 3%;
    overflow: auto;               
    position: relative;
    scrollbar-width: none;
  }
  
  
  .device-card {
    flex: 0 0 200px;  
    height: 240px;              
    background: linear-gradient(135deg, #304b75, #010a11);
    border-radius: 12px;
    
    padding: 6px 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;      
    margin-bottom: 10px;
  }
  
  .device-card:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
    background: linear-gradient(135deg, #304b75, #062944);
  }
  
  .device-card.no-location {
    opacity: 0.6;
    cursor: not-allowed;
    background: #656575;
    border-color: #222021;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .blinking-marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    animation: blink 1s infinite;
  }

  .blinking-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
  }
 
.container {
  position: relative;
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
  shape-rendering: crispEdges;
  image-rendering:
    pixelated,
    crisp-edges,
    -moz-crisp-edges;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: anim 2s linear infinite;
}

.loader:nth-child(2),
.loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
  box-sizing: border-box;
  clear: initial;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader:nth-child(1):before,
.loader:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.5));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  filter: blur(0.65px);
}

i {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 10;
  box-shadow:
    0 0 10px #00fff9,
    0 0 20px #00fff9,
    0 0 30px #00fff9,
    0 0 40px #00fff9,
    0 0 50px #00fff9,
    0 0 60px #00fff9,
    0 0 70px #00fff9,
    0 0 80px #00fff9,
    0 0 90px #00fff9,
    0 0 100px #00fff9;
  filter: blur(5px);
}

.loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
  filter: blur(3.4px);
  box-shadow: 0 0 4px #00fff9;
}
.popup-container {
  position: fixed;
  bottom: 50%;
  left: 20px;
  right: 20px;
  background: linear-gradient(135deg, rgb(6, 6, 219) 0%, rgb(56, 56, 230) 50%, rgb(100, 100, 255) 100%);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 25px;
  max-width: 75%;
  min-height: 20%;
  margin: 0 auto;
  animation: slideUp 0.4s ease-out;
  display: flex;
  flex-direction: column;
}

.popup-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.popup-icon {
  flex-shrink: 0;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.device-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup-info {
  flex: 1;
 padding: 10px;
  display: grid;
  align-self: center;
  color:rgba(255, 255, 255, 0.5);
}

.device-name {
  margin: 0 0 8px 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ccc018;
  flex-shrink: 0;
}

.device-detail {
  margin: 4px 0;
  font-size: 14px;
  color: #ceb31a;
  flex-shrink: 0;
}

.status-active {
  color: #10b981;
  font-weight: 700;
}

.button-container {
  width: 100%;
  margin-top: 20px;
}
button.learn-more {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background: transparent !important;
  border: none;
  padding: 0;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 360px) {
  .popup-container {
    left: 12px;
    right: 12px;
    padding: 12px;
    max-width: 75%;
  }
  
  .popup-icon {
    width: 50px;
    height: 50px;
  }
  
  .device-name {
    font-size: 16px;
  }
  
  .device-detail {
    font-size: 13px;
  }
  
  button.learn-more {
    width: 100%;
  }
}