

<div id="map"></div>

<hr>
<h2 class="title">Closest Devices</h2>
<div class="all-devices">
    <div *ngFor="let device of devices" 
         class="device-card" 
         [class.no-location]="device.locations.length === 0"
         (click)="goToLocation(device)">
      <h3>{{ device.name }}</h3>
      <h3>Closest Device Info</h3>
      
  
<div class="container" (click)="toggleCloseDeviceInfo()">
  <div class="loader"><span></span></div>
  <div class="loader"><span></span></div>
  <div class="loader"><i></i></div>
  <div class="loader"><i></i></div>
</div>


    </div>
  </div>

  <app-manage-devices (deviceWithLocations)="updateDeviceLocations($event)"></app-manage-devices>

  <app-close-devices (closeDevicesEvent)="handleClosestDevice($event)"></app-close-devices>

  <div class="closeDevice popup-container" *ngIf="showCloseDeviceInfo">
    
    <app-searching-loader *ngIf="loading"></app-searching-loader>

    <div class="popup-main" *ngIf="!loading">
      <div class="popup-content">
        <div class="popup-icon">
          <img [src]="printIcon" alt="Device icon" class="device-icon">
        </div>
        <div class="popup-info">
          <h3 class="device-name">{{ closestDevice?.name }}</h3>
          <p>{{lat}}, {{long}}</p>
          <p>Approx.: {{ minDistance.toFixed(2) }} meters</p>
          <p class="status-active">Status: {{ closestDevice.status }}</p>
        </div>
      </div>
    </div>
    <div class="button-container" *ngIf="!loading">
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <div class="button-text" *ngFor="let device of devices"  (click)="goToLocation(device)">
          <span>Contact Owner</span>
        </div>
      </button>
    </div>
  </div>
  
