.loader {
  width: 58px;
  height: 58px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}