.back{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1em;

}
.map {
  margin-top: .1vh;
  width: 100vw;
  height: 100vh;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

