/* You can add global styles to this file, and also import other style files */
*{
  
    body {
    overflow: hidden;
        margin: 0;
        height: 100vh;
       background: radial-gradient(
            circle at 50% 30%,
            rgba(23, 23, 139, 0.95) 40%, 
            rgb(31, 31, 34) 70%   
          );


        backdrop-filter: blur(3px);
      }
      
}

/* Force Leaflet to use images from the folder you actually have */
.leaflet-control-layers-toggle {
  background-image: url('/leaflet/images/layers.png') !important;
}

.leaflet-control-layers-toggle:hover {
  background-image: url('/leaflet/images/layers-2x.png') !important;
}

.leaflet-marker-icon {
  background-image: url('/leaflet/images/marker-icon.png') !important;
}

.leaflet-marker-shadow {
  background-image: url('/leaflet/images/marker-shadow.png') !important;
}
.leaflet-div-icon {
  background-image: url('/leaflet/images/marker-icon.png') !important;
}