.aboutPage {
    position: relative;
    height: 100%;
    margin-top: -7.6%;
}
.aboutPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../public/background.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2; 
    z-index: -1; 
}
.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 60px;
    width: 90%;
}
#freeTrialBtn {
    background-color: rgba(19, 40, 202, 0.8);
    backdrop-filter: blur(4px); 
    border: 1px solid rgba(3, 2, 63, 0.5);
    color: white;
    padding: 12px 37px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    margin-left: auto;
    transition: 0.3s ease;
    margin-top: 10%;
}

#freeTrialBtn:hover {
    background-color: rgba(6, 15, 111, 0.9);
}

